<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

        {{ content }}

    {% include footer.html %}
    {% include backToTop.html %}
    <script src="{{ " /js/main.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script src="{{ " /js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script>
	<script type="text/javascript" async
		src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>
	<style type="text/css">
	.center-image
	{
		margin: 0 auto;
		display: block;
	}
	#mypost{
        width: 90%;
        margin:0 auto;
		float:none;
        
	}
	</style>
  </body>

</html>
